xml/DTD/notification.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT notifications (notification+) >
<!ELEMENT notification (id, userId, message, unreaded, readed) >
<!ELEMENT id (#PCDATA) >
<!ELEMENT userId (#PCDATA) >
<!ELEMENT message (#PCDATA) >
<!ELEMENT unreaded (#PCDATA) >
<!ELEMENT readed (#PCDATA) >

